/* Flip card container styles */
.flip-card {
  display: inline-flex;
  margin-left: 13%;
  margin-top: 1rem;
  padding: 1px;
  width: 30%;
  height: 280px;
  perspective: 1000px;

  
}

/* Inner container for the flip card */
.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1.5s, filter 0.6s ease-in-out;
  
}

/* Hover effect for the flip card */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
 
}
.flip-card:hover .flip-card-inner .flip-card-front img {
  filter: blur(2px);
}

/* Front and back faces of the flip card */
.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;

  
}

/* Styling for the front face with an image */
.flip-card-front img {
  width: 100%;
  height: 100%;
  box-shadow: -10px 8px 23px 9px #000000;
  border-radius: 1rem;
}

/* Styling for the back face */
.flip-card-back {
  background-color: #FFEFCE;
  color: #0F2A3D;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box; /* Added to fix sizing issue */
  border-radius: 1rem;
  
}
